# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env
*.env

# VS Code settings
.vscode/
.cursor/
# Mac OS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# SQLite DBs or local databases (if any)
*.sqlite3
*.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/

# Build artifacts
build/
dist/
*.egg-info/

# Pycharm project files
.idea/
